/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.hero {
  position: relative;
}
.hero::before {
  content: "";
  height: 10px;
  background-color: #CACADB;
  border-radius: 0 0 12px 12px;
  position: absolute;
  top: 100%;
  left: 20px;
  right: 20px;
}
.hero::after {
  content: "";
  height: 10px;
  background-color: #E7E7F2;
  border-radius: 0 0 12px 12px;
  position: absolute;
  top: calc(100% + 10px);
  left: 40px;
  right: 40px;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.cards {
  background-image: linear-gradient(225deg, #323264, #323264, #643E72);
  border-radius: 12px;
}

.cards-inner {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 768px) {
  .cards-inner {
    flex-direction: row;
    gap: 60px;
    padding-top: 60px;
  }
}
.cards-link {
  color: #24A3FF;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  font-family: Montserrat, sans-serif;
  text-align: left;
  margin-bottom: 15px;
}

.capitalise-links {
  color: #24A3FF;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  font-family: Montserrat, sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
}
.capitalise-links:hover {
  color: #F0145A;
}

.cards-inner-titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards-inner-titles-next {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3px;
}

.content-titles {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #F0145A, #EF8080);
  font-family: Montserrat, sans-serif;
}

.card-inner {
  display: flex;
  flex-direction: column;
}

.card-inner-links {
  margin-bottom: 30px;
  background-color: #FFFFFF;
  padding: 14px;
  border-radius: 14px;
  width: 92px;
  height: 92px;
}

.cards-inner-text {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .card-inner {
    width: calc(50% - 30px);
  }
}
@media (min-width: 1024px) {
  .card-inner {
    width: calc(33.33% - 40px);
  }
}
@media (min-width: 1440px) {
  .card-inner {
    width: calc(33.33% - 40px);
  }
}
@media (min-width: 1920px) {
  .card-inner {
    width: calc(33.33% - 40px);
  }
}
.partners {
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
}

.title-for-partners {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #323264;
  padding-bottom: 30px;
}

.partners-icons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.partner-icon {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 120px;
  width: 100%;
}
.partner-icon:nth-child(1) {
  background-color: #1C4280;
}
.partner-icon:nth-child(2) {
  background-color: #143646;
}
.partner-icon:nth-child(3) {
  background-color: #F48B30;
}
.partner-icon:nth-child(4) {
  background-color: #9E4DC3;
}
.partner-icon:nth-child(5) {
  background-color: #FD9339;
}
.partner-icon:nth-child(6) {
  background-color: #E2E2E4;
}
.partner-icon:nth-child(7) {
  background-color: #C71C36;
}
.partner-icon:nth-child(8) {
  background-color: #DCF3F9;
}
.partner-icon:nth-child(9) {
  background-color: #EAEAEA;
}
.partner-icon:nth-child(10) {
  background-color: #282240;
}
.partner-icon:nth-child(11) {
  background-color: #1D4568;
}
.partner-icon:nth-child(12) {
  background-color: #000000;
}

@media (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .partners-icons {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 120px);
  }
}
@media (min-width: 1024px) {
  .partners-icons {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 120px);
  }
}
@media (min-width: 1440px) {
  .partners-icons {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 120px);
  }
}
@media (min-width: 1920px) {
  .partners-icons {
    width: 1720px;
    border-radius: 10px;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 120px);
    margin-left: auto;
    margin-right: auto;
  }
  .partners {
    margin-bottom: 60px;
  }
}
.slider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.wrapper-slider {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #EDEDF7;
}

.image-slider {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.slider-text {
  padding: 30px;
  background-color: #EDEDF7;
  display: flex;
  flex-direction: column;
}

.content-titles-in-slider {
  margin-bottom: 30px;
}

.from-author {
  color: #B3B3BA;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 6px;
}

.author-position {
  color: #B3B3BA;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.from-author-position {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
}

.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.slider-dot {
  background-color: #24A3FF;
  opacity: 0.2;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
}

.slider-dot-active {
  opacity: 1;
}

@media (min-width: 768px) {
  .slider {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .content-titles-in-slider {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (min-width: 1024px) {
  .wrapper-slider {
    flex-direction: row;
  }
  .image-slider {
    width: 400px;
    height: 528px;
    flex-shrink: 0;
  }
  .from-author-position {
    margin-top: auto;
  }
}
@media (min-width: 1440px) {
  .image-slider {
    width: 400px;
    height: 344px;
  }
}
@media (min-width: 1920px) {
  .image-slider {
    width: 400px;
    height: 298px;
  }
}
.publications {
  background-color: #F5F5FA;
  padding-top: 30px;
}

.publications-content {
  display: flex;
  flex-direction: column;
}

.capitalise-links {
  margin-bottom: 10px;
}

.publications-blogs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.content-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 30px;
}

.publications-images {
  object-fit: cover;
  width: 100%;
}

.publications-blog {
  display: flex;
  flex-direction: column;
}

.publication-links-content {
  padding: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.publication-links {
  color: #24A3FF;
  text-decoration: none;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

time {
  color: #B3B3BA;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.publication-blog-text {
  color: #000000;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
}
.publication-blog-text::before {
  content: "";
  border: 4px solid #E6E6F0;
  width: 100%;
  position: absolute;
  top: -15px;
}

@media (min-width: 768px) {
  .publications-blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .publications-blog:nth-child(3) {
    grid-column: 1/-1;
  }
}
@media (min-width: 1024px) {
  .publications-blogs {
    grid-template-columns: repeat(3, 1fr);
  }
  .publications-blog:nth-child(3) {
    grid-column: auto/auto;
  }
}
.hero {
  background-image: linear-gradient(200deg, #323264, #323264, #643E72);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.hero-split {
  background-color: #B3B3BA;
  height: 4px;
  margin-bottom: 30px;
}

.hero-links {
  padding-bottom: 30px;
  display: flex;
  gap: 30px;
  overflow: auto;
  flex-shrink: 0;
  position: relative;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
}

.hero-link {
  color: #B3B3BA;
  font-family: Montserrat, serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  flex-shrink: 0;
}
.hero-link:hover {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #F0145A, #EF8080);
  font-family: Montserrat, sans-serif;
}

.hero-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.hero-content-text h3 {
  color: #FFFFFF;
  font-family: Montserrat, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.hero-content-text p {
  font-family: Montserrat, serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

@media (min-width: 768px) {
  .hero-links {
    padding-bottom: 60px;
    margin-left: -60px;
    margin-right: -60px;
    padding-left: 60px;
  }
  .hero-content-wrapper {
    gap: 64px;
  }
  .hero-split {
    margin-bottom: 60px;
  }
  .hero-content-text h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .hero-content-text h3 p {
    font-size: 19px;
    line-height: 30px;
  }
  .hero-link {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (min-width: 1024px) {
  .hero-content {
    flex-direction: row;
    gap: 60px;
    margin-bottom: 60px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .hero-links {
    flex-direction: column;
    align-items: end;
    flex-grow: 1;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-content-wrapper {
    flex-direction: row;
    gap: 60px;
    margin-left: 0;
    margin-right: 0;
  }
  .hero-split {
    width: 4px;
    height: auto;
    flex-shrink: 0;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .hero-content {
    margin-right: 120px;
    margin-left: 120px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
.top-hero-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.hero-background {
  background-image: url(../images/Symbol.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.top-hero-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.top-hero-title {
  color: #fff;
  font-family: Montserrat, serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
}

.mobile-header-top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(245, 245, 250, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.header-contact-tel {
  color: #fff;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration: none;
}

.languages-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language-switch {
  color: #fff;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 7px 5px 7px;
  border-radius: 8px;
  text-decoration: none;
}

.language-switch-active {
  background-color: #F0145A;
}

.top-hero-button {
  align-self: center;
}

.mobile-header-bottom-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.button-menu {
  background-color: transparent;
  border: none;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.button-menu:hover {
  background-color: #E6E6F0;
}
.button-menu:hover path {
  stroke: #323264;
}

@media (min-width: 768px) {
  .hero-background {
    background-size: contain;
  }
}
.header-menu {
  background-color: rgba(50, 50, 100, 0.7);
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 8px;
  padding-right: 8px;
}
.header-menu-closed {
  display: none;
}

.header-menu-content {
  background-color: #FFFFFF;
  border-radius: 12px 12px 0 0;
  padding: 12px;
}

.header-menu-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-menu-link {
  background-color: #F5F5FA;
  padding: 7px;
  border-radius: 12px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #24A3FF;
  text-decoration: none;
}
.header-menu-link:not(.header-menu-link-active):hover {
  background-color: #E6E6F0;
}
.header-menu-link-active {
  color: #F0145A;
}

.close-header-menu-button {
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
}

@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}
.desktop-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 30px;
}

.header-top {
  display: flex;
  align-items: center;
}

.header-bottom {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dot {
  background-color: #E6E6F0;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.header-address {
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #B3B3BA;
}

.logo-desktop {
  width: 130px;
  height: 60px;
}

.header-link {
  color: #fff;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .desktop-header {
    display: none;
  }
}
@media (min-width: 768px) {
  .top-hero-content {
    padding: 50px 60px 30px 60px;
  }
  .hero-background {
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .desktop-header {
    grid-template-columns: 130px 1fr;
    grid-template-rows: auto auto;
    row-gap: 0;
    grid-template-areas: "left top" "left bottom";
  }
  .header-top {
    grid-area: top;
    justify-content: end;
  }
  .header-center {
    grid-area: left;
    align-content: center;
  }
  .header-bottom {
    grid-area: bottom;
    justify-content: end;
  }
}
@media (min-width: 1920px) {
  .top-hero-wrapper {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer {
  background-color: #F5F5FA;
  padding-top: 30px;
  padding-bottom: 30px;
}

.separator {
  height: 2px;
  background-color: #E6E6F0;
  margin-bottom: 30px;
}

.footer-address {
  color: #323264;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  margin-bottom: 10px;
}

.geolocation {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #24A3FF;
  text-transform: uppercase;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  margin-bottom: 21px;
}

.footer-media {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-contact-tel {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #46466E;
}

.footer-mail {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 30px;
  color: #24A3FF;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.footer-legal {
  text-align: center;
  text-decoration: none;
  margin-bottom: 30px;
  color: #B3B3BA;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@media (max-width: 768px) {
  .footer-content-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer-content-mobile {
    display: none;
  }
}
.footer-content-desktop {
  display: flex;
  flex-direction: column;
}

.footer-content-desktop .contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content-desktop .location-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content-desktop .footer-legal {
  margin-bottom: 0;
}

.footer-content-desktop .geolocation {
  margin-bottom: 0;
}

.footer-content-desktop .footer-address {
  margin-bottom: 0;
}

.footer-links {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contact-info {
  margin-bottom: 21px;
}

.footer-links .footer-contact-tel {
  margin-bottom: 0;
}

.footer-links .footer-mail {
  margin-bottom: 0;
}

.footer-links .footer-media {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
