@use "./mixins";

* {
    box-sizing: border-box;
}

.wrapper {
    padding: 30px;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 60px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 60px;
    }
}


@media (min-width: 1440px) {
    .wrapper {
        padding: 60px;
    }
}


@media (min-width: 1920px) {
    .wrapper {
        width: 1600px;
        padding-left: 160px;
        padding-right: 160px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}